<h5 class="card-title text-center">Atualizar sua senha</h5>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group me-4">
    <%= f.label :password  %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="d-flex justify-content-end align-items-center pt-4">
    <%= button_tag type: 'submit', class: 'w-100 btn btn-primary btn-block' do %>
      <i class="bi bi-pencil-square"></i> Atualizar
    <% end %>
  </div>
  <hr>
  <%= render "devise/shared/links" %>
<% end %>

