<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.application.class.module_parent_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!--- gridjs Mermaid theme -->
    <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />

    <!-- DataTables.net -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>

    <!-- toastify-js -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>  
  </head>

  <body>
    <!-- login page -->
    <div id="login-page">
        <div class="container">
            <div class="row justify-content-center mt-5 pt-5">
                <div class="col-md-4">
                    <div class="card shadow p-4">
                        <div class="card-body">
                            <!-- api placeholder image -->
                            <div class="text-center mb-4">
                                <%= image_tag "main-logo.png"%>
                            </div>
                            <%= yield %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= render "shared/notificacao" %>
  </body>
</html>