<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.application.class.module_parent_name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="d-flex align-items-center justify-content-center vh-100 bg-danger">
        <%= yield %>
    </div>
  </body>
</html>



